<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Elba De Giacomi</title>
	<link rel="stylesheet" type="text/css" href="file:///E:/GitHub/WebElbaDeGiacomi/css/reset.css">
	<link rel="stylesheet" type="text/css" href="file:///E:/GitHub/WebElbaDeGiacomi/css/index.css">
	<meta name="viewport" content="width=device-width", user-scalable=no,inital-scale="1.0"
	maximum-scale="1.0", minimum-scale="1.0">
</head>
<body>
	<main>
		<header>
			<h1>Elba De Giacomi</h1>
		</header>
		<div id="filtro">
			<form action="file:///E:/Documentos/www/elbadegiacomi/php/enviar.php">
				<label for="buscar">Buscar</label><br/>
				<input type="text" name="buscar" id="buscar" placeholder="Nombre o código"/><br/>

				<label for="tipoPropiedad">Tipo de propiedad</label><br/>
				<select name="tipoPropiedad" id="tipoPropiedad">
	                <option value="todos" selected="">Todas los tipos</option>
	                <option value="alpina">Alpina</option>
	                <option value="cabana">Cabaña</option>
	                <option value="casa">Casa</option>
	                <option value="chalet">Chalet</option>
	                <option value="departamento">Departamento</option>
	                <option value="duplex">Duplex</option>
	                <option value="triplex">Triplex</option>                   
                </select><br/>

				<label for="zona">Zona de la ciudad</label><br/>
				<select name="zona" id="zona">
                    <option value="todos" selected="">Todas las zonas</option>
                    <option value="norte">Norte</option>
                    <option value="centroComercial">Centro Comercial</option>
                    <option value="residencialCentro">Residencial Centro</option>
                    <option value="residencialOeste">Residencial Oeste</option>
                    <option value="residencialPlaya">Residencial Playa</option>
                    <option value="residencial">Residencial</option>
                    <option value="playaSur">Playa Sur</option>
                    <option value="residencialSur">Residencial Sur</option>
                </select><br/>

				<label for="lugar">Lugar</label><br/>
				<select name="lugar" id="lugar">
					<option value="todos" selected="">Cualquiera</option>
				   	<option value="villaGesell">Villa Gesell</option>
				   	<option value="marDeLasPampas">Mar de las Pampas</option> 
				   	<option value="lasGaviotas">Las Gaviotas</option>
				   	<option value="marAzul">Mar Azul</option>
				   	<option value="pinamar">Pinamar</option>
				</select><br/>
				
				<label for="familiasJovenes">Familias, Jovenes y Parejas</label><br/>
				<select name="familiasJovenes" id="familiasJovenes">
	                <option value="todos" selected="">Todos</option>
	                <option value="2">Jovenes</option>
	                <option value="1">Familias y Parejas</option>                  
                </select>

                <div id="servicios">
                    <p>Servicios</p>

                    <label for="mascotas">Acepta mascotas</label>
                    <input id="mascotas" name="mascotas" value="1" type="checkbox"><br/>

                    <label for="aireAcondicionado">Aire acondicionado</label>
                    <input id="aireAcondicionado" name="aireAcondicionado" value="1" type="checkbox"><br/>

                    <label for="alarma">Alarma</label>
                    <input id="alarma" name="alarma" value="1" type="checkbox"><br/>

                    <label for="estacionamiento">Estacionamiento</label>
                    <input id="estacionamiento" name="estacionamiento" value="1" type="checkbox"><br/>

                    <label for="estacionamiento">Internet</label>
                    <input id="estacionamiento" name="estacionamiento" value="1" type="checkbox"><br/>

                    <label for="lugar">Pileta</label>
                    <input id="servicios[6]" name="servicios[6]" value="1" type="checkbox"><br/>
                </div>
			</form>
		</div>
		<section>
			<article>
				<p><img src="http://u.jimdo.com/www37/o/s5ed5fee327cf4d99/img/i80e71c9fa61fac64/1414765123/std/image.jpg" alt="">
					Duplex en Villa Gesell, zona Residencial plata, para 5 personas<br/>
					Acepta jovenes y familias
				</p>
			</article>

			<article>
				<p><img src="http://u.jimdo.com/www37/o/s5ed5fee327cf4d99/img/i80e71c9fa61fac64/1414765123/std/image.jpg" alt="">
					Duplex en Villa Gesell, zona Residencial plata, para 5 personas<br/>
					Acepta jovenes y familias
				</p>
			</article>

			<article>
				<p><img src="http://u.jimdo.com/www37/o/s5ed5fee327cf4d99/img/i80e71c9fa61fac64/1414765123/std/image.jpg" alt="">
					Duplex en Villa Gesell, zona Residencial plata, para 5 personas<br/>
					Acepta jovenes y familias
				</p>
			</article>

			<article>
				<p><img src="http://u.jimdo.com/www37/o/s5ed5fee327cf4d99/img/i80e71c9fa61fac64/1414765123/std/image.jpg" alt="">
					Duplex en Villa Gesell, zona Residencial plata, para 5 personas<br/>
					Acepta jovenes y familias
				</p>
			</article>

			<article>
				<p><img src="http://u.jimdo.com/www37/o/s5ed5fee327cf4d99/img/i80e71c9fa61fac64/1414765123/std/image.jpg" alt="">
					Duplex en Villa Gesell, zona Residencial plata, para 5 personas<br/>
					Acepta jovenes y familias
				</p>
			</article>

			<article>
				<p><img src="http://u.jimdo.com/www37/o/s5ed5fee327cf4d99/img/i80e71c9fa61fac64/1414765123/std/image.jpg" alt="">
					Duplex en Villa Gesell, zona Residencial plata, para 5 personas<br/>
					Acepta jovenes y familias
				</p>
			</article>
			
		</section>
		<aside>
			<img src="http://u.jimdo.com/www37/o/s5ed5fee327cf4d99/img/i7949ecb9ea513865/1390057468/std/s-a-t-electrodomesticos.jpg" alt="S.A.T ELECTRODOMESTICOS">
			<div id="texto">
				<h3>S.A.T ELECTRODOMESTICOS</h3>
				<p>Reparación de electrodomésticos instalación y reparación de aire acondicionado y refrigeración.</p>
				<p>
					Paseo 123 y boulevard<br/>
					N°2358 Villa Gesell<br/>
					02255 46 4799<br/>
					<a href="mailto:reparaciones_sat@hotmail.com" target="_top">reparaciones_sat@hotmail.com</a><br/>
					<a href="www.satgesell.com.ar">www.satgesell.com.ar</a><br/>
				</p>
			</div>
		</aside>
		<footer>
			<p>ElbaDeGiacomi®. TODOS LOS DERECHOS RESERVADOS. Prohibida la reproducción total o parcial de los contenidos albergados en esta Web sin autorización expresa del autor.</p>
		</footer>
	</main>
</body>
</html>