<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Elba De Giacomi</title>
	<link rel="stylesheet" type="text/css" href="../static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../static/css/index.css">
	<meta name="viewport" content="width=device-width", user-scalable=no,inital-scale="1.0"
	maximum-scale="1.0", minimum-scale="1.0">
</head>
<body>
	<main>
	<header>
		<h1>Elba De Giacomi</h1>
	</header>	
	{% block content %}
		
	{% endblock %}
	<footer>
		<p>ElbaDeGiacomi®. TODOS LOS DERECHOS RESERVADOS. Prohibida la reproducción total o parcial de los contenidos albergados en esta Web sin autorización expresa del autor.</p>
	</footer>
	</main>
</body>
</html>